@import "vendor/bootstrap/bootstrap/variables";
@import "variables";

.detailed-table {
  @media (min-width: $screen-sm-max) {
    margin-left: 80px;
    margin-right: 80px;
  }

  .title {
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    color: #5737a9;
  }

  .compare-table {
    .table-title {
      font-size: 18px;
      color: $color-gray;
    }

    .table-title-logo .logo {
      height: 50px;
      width: auto;
    }

    .check-container svg {
      height: 30px;
      width: 30px;
    }

    .check-container {
      vertical-align: middle;
    }
  }
}
